<app-header></app-header>

<section id="bracket">
  <div class="container-fluid">
    <div class="split split-one">
      <div class="round round-one current">
        <div class="round-details">Round 1<br /><span class="date">March 17-18</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Gonzaga<span class="score">93</span></li>
          <li class="team team-bottom">Georgia St.<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Boise St.<span class="score">53</span></li>
          <li class="team team-bottom">Memphis<span class="score">64</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">UConn<span class="score">63</span></li>
          <li class="team team-bottom">N. Mex. St.<span class="score">70</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Arkansas<span class="score">75</span></li>
          <li class="team team-bottom">Vermont<span class="score">71</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Alabama<span class="score">64</span></li>
          <li class="team team-bottom">ND<span class="score">78</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Texas Tech<span class="score">97</span></li>
          <li class="team team-bottom">Montana St.<span class="score">62</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Michigan St.<span class="score">74</span></li>
          <li class="team team-bottom">Davidson<span class="score">73</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Duke<span class="score">78</span></li>
          <li class="team team-bottom">CS Fullerton<span class="score">61</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->

      <div class="round round-two">
        <div class="round-details">Round 2<br /><span class="date">March 19-20</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Gonzaga<span class="score">82</span></li>
          <li class="team team-bottom">Memphis<span class="score">78</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">N. Mex. St.<span class="score">48</span></li>
          <li class="team team-bottom correct">Arkansas<span class="score">53</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Notre Dame<span class="score">53</span></li>
          <li class="team team-bottom correct">Texas Tech<span class="score">59</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Michigan St.<span class="score">76</span></li>
          <li class="team team-bottom correct">Duke<span class="score">85</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-three">
        <div class="round-details">Sweet 16<br /><span class="date">March 24-25</span></div>
        <ul class="matchup">
          <li class="team team-top incorrect">Gonzaga<span class="score">68</span></li>
          <li class="team team-bottom">Arkansas<span class="score">74</span></li>
        </ul>
        <div class="region">WEST</div>
        <ul class="matchup">
          <li class="team team-top incorrect">Texas Tech<span class="score">73</span></li>
          <li class="team team-bottom">Duke<span class="score">78</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-four">
        <div class="round-details">Elite 8<br /><span class="date">March 26-27</span></div>
        <ul class="matchup">
          <li class="team team-top">Arizona<span class="score">69</span></li>
          <li class="team team-bottom correct">Duke<span class="score">78</span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->
    </div>

    <div class="champion nomobile">
      <div class="semis-l">
        <div class="round-details">national semifinal<br /><span class="date">April 2</span></div>
        <ul class="matchup championship">
          <li class="team team-top">Duke<span class="score">79</span></li>
          <li class="team team-bottom">North Carolina<span class="score">75</span></li>
        </ul>
      </div>
      <div class="final">
        <i class="fa fa-trophy"></i>
        <div class="round-details">National Championship <br /><span class="date">April 4</span></div>
        <ul class="matchup championship">
          <li class="team team-top">Duke<span class="score">76</span></li>
          <li class="team team-bottom">Kansas<span class="score">78</span></li>
        </ul>
      </div>
      <div class="semis-r">
        <div class="round-details">national semifinal <br /><span class="date">April 2</span></div>
        <ul class="matchup championship">
          <li class="team team-top">Villanova<span class="score">70</span></li>
          <li class="team team-bottom">Kansas<span class="score">71</span></li>
        </ul>
      </div>
    </div>


    <div class="split split-two">
      <div class="round round-four">
        <div class="round-details nomobile">Elite 8<br /><span class="date">March 26-27</span></div>
        <ul class="matchup">
          <li class="team team-top incorrect">Houston<span class="score">64</span></li>
          <li class="team team-bottom">Villanova<span class="score">62</span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->

      <div class="round round-three">
        <div class="round-details nomobile">Sweet 16<br /><span class="date">March 24-25</span></div>
        <ul class="matchup">
          <li class="team team-top incorrect">Arizona<span class="score">60</span></li>
          <li class="team team-bottom">Houston<span class="score">72</span></li>
        </ul>
        <div class="region">SOUTH</div>
        <ul class="matchup">
          <li class="team team-top">Michigan<span class="score">66</span></li>
          <li class="team team-bottom correct">Villanova<span class="score">63</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-two">
        <div class="round-details nomobile">Round 2<br /><span class="date">March 19-20</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Arizona<span class="score">85</span></li>
          <li class="team team-bottom">TCU<span class="score">80</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Houston<span class="score">68</span></li>
          <li class="team team-bottom">Illinois<span class="score">53</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Michigan<span class="score">76</span></li>
          <li class="team team-bottom incorrect">Tennessee<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Ohio St.<span class="score">61</span></li>
          <li class="team team-bottom correct">Villanova<span class="score">71</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->
      <div class="round round-one current">
        <div class="round-details nomobile">Round 1<br /><span class="date">March 17-18</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Arizona<span class="score">87</span></li>
          <li class="team team-bottom">WRST<span class="score">70</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Seton Hall<span class="score">42</span></li>
          <li class="team team-bottom">TCU<span class="score">69</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Houston<span class="score">82</span></li>
          <li class="team team-bottom">UAB<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Illinois<span class="score">54</span></li>
          <li class="team team-bottom">Chattanooga<span class="score">53</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Colorado St.<span class="score">63</span></li>
          <li class="team team-bottom">Michigan<span class="score">75</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Tennessee<span class="score">88</span></li>
          <li class="team team-bottom">Longwood<span class="score">56</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Ohio St.<span class="score">54</span></li>
          <li class="team team-bottom incorrect">Loyola Chi.<span class="score">41</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Villanova<span class="score">80</span></li>
          <li class="team team-bottom">Delaware<span class="score">60</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->
    </div>

    <div class="champion mobile">
      <div class="semis-l">
        <div class="round-details">national semifinal<br /><span class="date">April 2</span></div>
        <ul class="matchup championship">
          <li class="team team-top">Duke<span class="score">78</span></li>
          <li class="team team-bottom">North Carolina<span class="score">69</span></li>
        </ul>
      </div>
      <div class="final">
        <i class="fa fa-trophy"></i>
        <div class="round-details">National Championship <br /><span class="date">April 4</span></div>
        <ul class="matchup championship">
          <li class="team team-top">Duke<span class="score">76</span></li>
          <li class="team team-bottom">Kansas<span class="score">78</span></li>
        </ul>
      </div>
      <div class="semis-r">
        <div class="round-details">national semifinal <br /><span class="date">April 2</span></div>
        <ul class="matchup championship">
          <li class="team team-top">Villanova<span class="score">70</span></li>
          <li class="team team-bottom">Kansas<span class="score">71</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="bracket" class="bracket-bottom">
  <div class="container-fluid">
    <div class="split split-one">
      <div class="round round-one current">
        <ul class="matchup">
          <li class="team team-top correct">Baylor<span class="score">85</span></li>
          <li class="team team-bottom">Norfolk St.<span class="score">49</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">North Carolina<span class="score">95</span></li>
          <li class="team team-bottom">Marquette<span class="score">63</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Saint Mary's<span class="score">82</span></li>
          <li class="team team-bottom">IND<span class="score">53</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">UCLA<span class="score">57</span></li>
          <li class="team team-bottom">Akron<span class="score">53</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Texas<span class="score">81</span></li>
          <li class="team team-bottom">Va. Tech<span class="score">73</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Purdue<span class="score">78</span></li>
          <li class="team team-bottom">Yale<span class="score">56</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Murray St.<span class="score">92</span></li>
          <li class="team team-bottom">San Fran.<span class="score">87</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Kentucky<span class="score">79</span></li>
          <li class="team team-bottom">St. Peter's<span class="score">85</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->

      <div class="round round-two">
        <ul class="matchup">
          <li class="team team-top incorrect">Baylor<span class="score">86</span></li>
          <li class="team team-bottom">North Carolina<span class="score">93</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Saint Mary's<span class="score">56</span></li>
          <li class="team team-bottom correct">UCLA<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Texas<span class="score">71</span></li>
          <li class="team team-bottom correct">Purdue<span class="score">81</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Murray St.<span class="score">60</span></li>
          <li class="team team-bottom">St. Peter's<span class="score">70</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-three">
        <ul class="matchup">
          <li class="team team-top incorrect">North Carolina<span class="score">73</span></li>
          <li class="team team-bottom">UCLA<span class="score">66</span></li>
        </ul>
        <div class="region">EAST</div>
        <ul class="matchup">
          <li class="team team-top incorrect">Purdue<span class="score">64</span></li>
          <li class="team team-bottom">St. Peter's<span class="score">67</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-four">
        <ul class="matchup">
          <li class="team team-top correct">North Carolina<span class="score">69</span></li>
          <li class="team team-bottom">St. Peter's<span class="score">49</span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->
    </div>

    <div class="champion nomobile"></div>

    <div class="split split-two">
      <div class="round round-four">
        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">72</span></li>
          <li class="team team-bottom">Iowa St.<span class="score">65</span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->

      <div class="round round-three">
        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">77</span></li>
          <li class="team team-bottom">Providence<span class="score">69</span></li>
        </ul>
        <div class="region">MIDWEST</div>
        <ul class="matchup">
          <li class="team team-top incorrect">Iowa St.<span class="score">69</span></li>
          <li class="team team-bottom">Miami<span class="score">67</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-two">
        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">79</span></li>
          <li class="team team-bottom">Creighton<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Richmond<span class="score">51</span></li>
          <li class="team team-bottom correct">Providence<span class="score">79</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Iowa St.<span class="score">54</span></li>
          <li class="team team-bottom incorrect">Wisconsin<span class="score">49</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Miami<span class="score">79</span></li>
          <li class="team team-bottom incorrect">Auburn<span class="score">61</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->
      <div class="round round-one current">
        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">83</span></li>
          <li class="team team-bottom">TXSO<span class="score">56</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">San Diego St.<span class="score">69</span></li>
          <li class="team team-bottom">Creighton<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Iowa<span class="score">63</span></li>
          <li class="team team-bottom">Richmond<span class="score">67</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Providence<span class="score">66</span></li>
          <li class="team team-bottom">S. Dak. St.<span class="score">57</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">LSU<span class="score">54</span></li>
          <li class="team team-bottom">Iowa St.<span class="score">59</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Wisconsin<span class="score">67</span></li>
          <li class="team team-bottom">Colgate<span class="score">60</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">USC<span class="score">66</span></li>
          <li class="team team-bottom">Miami<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Auburn<span class="score">80</span></li>
          <li class="team team-bottom">Jax. State<span class="score">61</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->
    </div>
  </div>
</section>
<section class="bracket-footer">
  This is a game by game analysis. Each game is an individual prediction. The green merely indicates if our predicted
  winner was correct.
</section>