<app-header></app-header>

<section id="bracket">
  <div class="container-fluid">
    <div class="split split-one">
      <div class="round round-one current">
        <div class="round-details">Round 1<br /><span class="date">March 19-20</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Gonzaga<span class="score">95</span></li>
          <li class="team team-bottom">NORF/APPST<span class="score">65/62</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Oklahoma<span class="score">70</span></li>
          <li class="team team-bottom">Missouri<span class="score">69</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Creighton<span class="score">73</span></li>
          <li class="team team-bottom">UCSB<span class="score">67</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Virginia<span class="score">70</span></li>
          <li class="team team-bottom incorrect">Ohio<span class="score">62</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">USC<span class="score">72</span></li>
          <li class="team team-bottom">WICHST/DRAKE<span class="score">65/66</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Kansas<span class="score">78</span></li>
          <li class="team team-bottom">E. Washington<span class="score">67</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Oregon<span class="score">68</span></li>
          <li class="team team-bottom">VCU<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Iowa<span class="score">78</span></li>
          <li class="team team-bottom">Grand Canyon<span class="score">64</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->

      <div class="round round-two">
        <div class="round-details">Round 2<br /><span class="date">March 21-22</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Gonzaga<span class="score">86</span></li>
          <li class="team team-bottom">Oklahoma<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Creighton<span class="score">80</span></li>
          <li class="team team-bottom">Ohio<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">USC<span class="score">66</span></li>
          <li class="team team-bottom">Kansas<span class="score">65</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Oregon<span class="score">73</span></li>
          <li class="team team-bottom">Iowa<span class="score">80</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-three">
        <div class="round-details">Sweet 16<br /><span class="date">March 27-28</span></div>
        <ul class="matchup">
          <li class="team team-top">Gonzaga<span class="score">87</span></li>
          <li class="team team-bottom">Creighton<span class="score">76</span></li>
        </ul>
        <div class="region">WEST</div>
        <ul class="matchup">
          <li class="team team-top">USC<span class="score">70</span></li>
          <li class="team team-bottom">Oregon<span class="score">67</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-four">
        <div class="round-details">Elite 8<br /><span class="date">March 29-30</span></div>
        <ul class="matchup">
          <li class="team team-top"><span class="score"></span></li>
          <li class="team team-bottom"><span class="score"></span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->
    </div>

    <div class="champion nomobile">
      <div class="semis-l">
        <div class="round-details">national semifinal<br /><span class="date">April 3</span></div>
        <ul class="matchup championship">
          <li class="team team-top"><span class="vote-count"></span></li>
          <li class="team team-bottom"><span class="vote-count"></span></li>
        </ul>
      </div>
      <div class="final">
        <i class="fa fa-trophy"></i>
        <div class="round-details">National Championship <br /><span class="date">April 5</span></div>
        <ul class="matchup championship">
          <li class="team team-top"><span class="vote-count"></span></li>
          <li class="team team-bottom"><span class="vote-count"></span></li>
        </ul>
      </div>
      <div class="semis-r">
        <div class="round-details">national semifinal <br /><span class="date">April 3</span></div>
        <ul class="matchup championship">
          <li class="team team-top"><span class="vote-count"></span></li>
          <li class="team team-bottom"><span class="vote-count"></span></li>
        </ul>
      </div>
    </div>


    <div class="split split-two">
      <div class="round round-four">
        <div class="round-details nomobile">Elite 8<br /><span class="date">March 29-30</span></div>
        <ul class="matchup">
          <li class="team team-top"><span class="score"></span></li>
          <li class="team team-bottom"><span class="score"></span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->

      <div class="round round-three">
        <div class="round-details nomobile">Sweet 16<br /><span class="date">March 27-28</span></div>
        <ul class="matchup">
          <li class="team team-top">Baylor<span class="score">75</span></li>
          <li class="team team-bottom">Villanova<span class="score">71</span></li>
        </ul>
        <div class="region">SOUTH</div>
        <ul class="matchup">
          <li class="team team-top">Arkansas<span class="score">90</span></li>
          <li class="team team-bottom">Oral Roberts<span class="score">73</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-two">
        <div class="round-details nomobile">Round 2<br /><span class="date">March 21-22</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Baylor<span class="score">70</span></li>
          <li class="team team-bottom">Wisconsin<span class="score">67</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Villanova<span class="score">65</span></li>
          <li class="team team-bottom">North Texas<span class="score">59</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Texas Tech<span class="score">69</span></li>
          <li class="team team-bottom">Arkansas<span class="score">69</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Florida<span class="score">84</span></li>
          <li class="team team-bottom incorrect">Oral Roberts<span class="score">71</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->
      <div class="round round-one current">
        <div class="round-details nomobile">Round 1<br /><span class="date">March 19-20</span></div>
        <ul class="matchup">
          <li class="team team-top correct">Baylor<span class="score">80</span></li>
          <li class="team team-bottom">Hartford<span class="score">60</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">North Carolina<span class="score">66</span></li>
          <li class="team team-bottom correct">Wisconsin<span class="score">67</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Villanova<span class="score">78</span></li>
          <li class="team team-bottom">Winthrop<span class="score">69</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Purdue<span class="score">64</span></li>
          <li class="team team-bottom incorrect">North Texas<span class="score">58</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Texas Tech<span class="score">64</span></li>
          <li class="team team-bottom">Utah State<span class="score">62</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Arkansas<span class="score">85</span></li>
          <li class="team team-bottom">Colgate<span class="score">75</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Florida<span class="score">68</span></li>
          <li class="team team-bottom">Virginia Tech<span class="score">67</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Ohio St.<span class="score">90</span></li>
          <li class="team team-bottom incorrect">Oral Roberts<span class="score">72</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->
    </div>

    <div class="champion mobile">
      <div class="semis-l">
        <div class="round-details">national semifinal<br /><span class="date">April 3</span></div>
        <ul class="matchup championship">
          <li class="team team-top"><span class="vote-count"></span></li>
          <li class="team team-bottom"><span class="vote-count"></span></li>
        </ul>
      </div>
      <div class="final">
        <i class="fa fa-trophy"></i>
        <div class="round-details">National Championship <br /><span class="date">April 5</span></div>
        <ul class="matchup championship">
          <li class="team team-top"><span class="vote-count"></span></li>
          <li class="team team-bottom"><span class="vote-count"></span></li>
        </ul>
      </div>
      <div class="semis-r">
        <div class="round-details">national semifinal <br /><span class="date">April 3</span></div>
        <ul class="matchup championship">
          <li class="team team-top"><span class="vote-count"></span></li>
          <li class="team team-bottom"><span class="vote-count"></span></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="bracket" class="bracket-bottom">
  <div class="container-fluid">
    <div class="split split-one">
      <div class="round round-one current">
        <ul class="matchup">
          <li class="team team-top correct">Michigan<span class="score">71/86</span></li>
          <li class="team team-bottom">MTSM/TXSO<span class="score">50/60</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">LSU<span class="score">71</span></li>
          <li class="team team-bottom">St. Bonaventure<span class="score">73</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Colorado<span class="score">71</span></li>
          <li class="team team-bottom">Georgetown<span class="score">66</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Florida State<span class="score">77</span></li>
          <li class="team team-bottom">UNCG<span class="score">68</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">BYU<span class="score">70/69</span></li>
          <li class="team team-bottom incorrect">MSU/UCLA<span class="score">66/66</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Texas<span class="score">73</span></li>
          <li class="team team-bottom incorrect">Abilene Chr.<span class="score">66</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Connecticut<span class="score">64</span></li>
          <li class="team team-bottom">Maryland<span class="score">62</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Alabama<span class="score">82</span></li>
          <li class="team team-bottom">Iona<span class="score">63</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->

      <div class="round round-two">
        <ul class="matchup">
          <li class="team team-top correct">Michigan<span class="score">81</span></li>
          <li class="team team-bottom">LSU<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Colorado<span class="score">72</span></li>
          <li class="team team-bottom">Florida State<span class="score">72</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">UCLA<span class="score">68</span></li>
          <li class="team team-bottom">Abilene Chr.<span class="score">65</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Maryland<span class="score">66</span></li>
          <li class="team team-bottom correct">Alabama<span class="score">71</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->

      <div class="round round-three">
        <ul class="matchup">
          <li class="team team-top">Michigan<span class="score">76</span></li>
          <li class="team team-bottom">Florida State<span class="score">69</span></li>
        </ul>
        <div class="region">EAST</div>
        <ul class="matchup">
          <li class="team team-top">UCLA<span class="score">67</span></li>
          <li class="team team-bottom">Alabama<span class="score">74</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-four">
        <ul class="matchup">
          <li class="team team-top"><span class="score"></span></li>
          <li class="team team-bottom"><span class="score"></span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->
    </div>

    <div class="champion nomobile"></div>

    <div class="split split-two">
      <div class="round round-four">
        <ul class="matchup">
          <li class="team team-top"><span class="score"></span></li>
          <li class="team team-bottom"><span class="score"></span></li>
        </ul>
      </div> <!-- END ROUND FOUR -->

      <div class="round round-three">
        <ul class="matchup">
          <li class="team team-top">Loyola Chicago<span class="score">66</span></li>
          <li class="team team-bottom">Oregon State<span class="score">57</span></li>
        </ul>
        <div class="region">MIDWEST</div>
        <ul class="matchup">
          <li class="team team-top">Syracuse<span class="score">66</span></li>
          <li class="team team-bottom">Houston<span class="score">74</span></li>
        </ul>
      </div> <!-- END ROUND THREE -->

      <div class="round round-two">
        <ul class="matchup">
          <li class="team team-top incorrect">Illinois<span class="score">67</span></li>
          <li class="team team-bottom">Loyola Chicago<span class="score">63</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Oregon State<span class="score">67</span></li>
          <li class="team team-bottom">Oklahoma State<span class="score">73</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top incorrect">Syracuse<span class="score">75</span></li>
          <li class="team team-bottom">West Virginia<span class="score">78</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Rutgers<span class="score">61</span></li>
          <li class="team team-bottom correct">Houston<span class="score">67</span></li>
        </ul>
      </div> <!-- END ROUND TWO -->
      <div class="round round-one current">
        <ul class="matchup">
          <li class="team team-top correct">Illinois<span class="score">81</span></li>
          <li class="team team-bottom">Drexel<span class="score">61</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Loyola Chicago<span class="score">65</span></li>
          <li class="team team-bottom">Georgia Tech<span class="score">61</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Tennessee<span class="score">68</span></li>
          <li class="team team-bottom incorrect">Oregon State<span class="score">60</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Oklahoma State<span class="score">73</span></li>
          <li class="team team-bottom">Liberty<span class="score">65</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">San Diego State<span class="score">71</span></li>
          <li class="team team-bottom incorrect">Syracuse<span class="score">66</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">West Virginia<span class="score">73</span></li>
          <li class="team team-bottom">Morehead State<span class="score">63</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top">Clemson<span class="score">60</span></li>
          <li class="team team-bottom correct">Rutgers<span class="score">61</span></li>
        </ul>
        <ul class="matchup">
          <li class="team team-top correct">Houston<span class="score">73</span></li>
          <li class="team team-bottom">Cleveland State<span class="score">56</span></li>
        </ul>
      </div> <!-- END ROUND ONE -->
    </div>
  </div>
</section>
<section class="bracket-footer">
  This is a game by game analysis. Each game is an individual prediction. The green merely indicates if our predicted
  winner was correct. This is not how the bracket would've looked had it been filled out entirely from the beginning of
  the tournament.
</section>