<div class="page"><img class="page-logo" src="/assets/{{page}}-logo.png"></div>
<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between pt-0 pb-0 nav-height w-100">
  <div id="header-content" class="container-fluid pl-2 pr-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <a class="nav-link float-right" routerLink="/nba">NBA</a>
        </li>
        <!-- <li class="nav-item w-100">
          <a class="nav-link float-right" routerLink="/wcbb">WCBB</a>
        </li> -->
      </ul>
    </div>
    <div class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25"><img class="logo"
        src="/assets/HoopFire.png"></div>
    <div class="navbar-collapse collapse dual-nav w-50 order-2">
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <a class="nav-link right-links" routerLink="/cbb">CBB</a>
        </li>
        <!-- <li class="nav-item w-100">
          <a class="nav-link right-links" routerLink="/cbb-bracket">CBB Bracket</a>
        </li> -->
        <!-- <li class="nav-item w-100">
          <a class="nav-link right-links" routerLink="/wcbb">WCBB</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
