<!-- <div class="container-fluid">
  <h1>Angular Progressive Web Application (PWA)</h1>

  <div class="row my-5">
    <div class="col text-end">
      Status:
    </div>
    <div class="col">
      <span class="badge bg-success" *ngIf="_dataService.isOnline">Online</span>
      <span class="badge bg-danger" *ngIf="!_dataService.isOnline">Offline</span>
    </div>
  </div>
</div> -->
<app-toolbar></app-toolbar>
<div class="bg-container"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="home-text">Custom.</div>
      <div class="home-text">Game.</div>
      <div class="home-text">Prediction.</div>
      <div class="get-started-button-container">
        <button mat-raised-button color="primary" class="get-started-button">Get Started</button>
      </div>
    </div>
  </div>
</div>