<!-- <div class="container-fluid">
  <h1>Angular Progressive Web Application (PWA)</h1>

  <div class="row my-5">
    <div class="col text-end">
      Status:
    </div>
    <div class="col">
      <span class="badge bg-success" *ngIf="_dataService.isOnline">Online</span>
      <span class="badge bg-danger" *ngIf="!_dataService.isOnline">Offline</span>
    </div>
  </div>
</div> -->
<video autoplay muted loop id="homeVideo">
  <source src="/assets/home-video.mp4" type="video/mp4">
</video>
<app-toolbar></app-toolbar>
<div class="container-fluid container-height">
  <div class="row h-100">
    <div class="col-12 h-100 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <img class="home-splash" src="/assets/Home-Splash.png"/>
        <div class="get-started-button-container">
          <button mat-raised-button color="primary" class="get-started-button" routerLink="/nba">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</div>